@model HolidayInnReadModel.Bookings

@{
    ViewBag.Title = "Bookings";
}

<h2>Bookings</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <label>Name</label>
        <label>Phone Number</label>
        <label>Email Address</label>
        <label>Check In</label>
        <label>Check Out</label>
    </fieldset>
}

<p>
    @Html.ActionLink("Confirm Booking", "ConfirmBooking")
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Cancelled</th>
        <th>Time of Cancelation</th>
        <th>Cancel Booking</th>
    </tr>
    @if (Model?.AllBookings() != null && Model.AllBookings().Count() > 0)
    {
        foreach (var item in Model.AllBookings())
        {
            <tr>
                <td>
                    <%= Html.Encode(item.BookingId) %>
                </td>
                <td>
                    <%= Html.Encode(item.Name) %>
                </td>
                <td>
                    <%= Html.Encode(item.PhoneNumber) %>
                </td>
                <td>
                    <%= Html.Encode(item.Email) %>
                </td>
                <td>
                    <%= Html.Encode(item.CheckIn) %>
                </td>
                <td>
                    <%= Html.Encode(item.CheckOut) %>
                </td>
                <td>
                    <%= Html.Encode(item.HasBeenCancelled) %>
                </td>
                <td>
                    <%= Html.Encode(item.TimeOfCancelation) %>
                </td>
                <td>
                    @Html.ActionLink("Cancel", "CancelBooking", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    }

</table>
